# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Poular databases in data science
- Popular libraries used in data science
- Popular langauges used in data science

## Author
Niket Jain

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Matplotlib
3. Numpy

|Data Science Tools|
|------------------|
|Tableau|
|Apache Hadoop|
|Matlab|

Below are a few examples of evaluating arithmetic expressions in Python

2 + 3 = 5

2 - 3 = -1

2 * 3 = 6

2 / 3 = 0.66

In [2]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
y=200/60
print(f"{y} hours")

3.3333333333333335 hours